<script>
  let current = "Messi";
</script>


<!-- We will cover buttons in week 7! -->
<button
	class="{current === 'Messi' ? 'selected' : ''}"
	on:click="{() => current = 'Messi'}"
>Messi</button>

<button
	class="{current === 'Ronaldo' ? 'selected' : ''}"
	on:click="{() => current = 'Ronaldo'}"
>Ronaldo</button>

<button
	class="{current === 'Neymar' ? 'selected' : ''}"
	on:click="{() => current = 'Neymar'}"
>Neymar</button>

<style>
	button {
		display: block;
	}

	.selected {
		background-color: #253ab4;
		color: white;
	}
</style>