<script>
  let clicked = {click:false};
  function toggle() {
		clicked.click = !clicked.click;
	}
</script>

<div>
  
  {#if clicked.click}
	<button on:click={toggle}>
		You have clicked the button!
	</button>
{/if}

{#if !clicked.click}
	<button on:click={toggle}>
		You have to click the button!
	</button>
{/if}
</div>
