<script>
const name = 'Marija Males Lopusina';
const fav1 ="Playing with my kids";
const fav2 = "Hiking";
const fav3 = "Eating";
const student = { name, fav1, fav2, fav3 };
</script>


<div>

<p> My name is {student.name} and these are some of my favourite things: </p>

<ol>
    <li> {student.fav1}
        <li> {student.fav2}
            <li> {student.fav3}
    </ol>
    </div>

