<script>
  import { page } from "$app/stores";

  $: pageName = $page.error
    ? `Error ${$page.status}`
    : $page.url.pathname
        .split("/")
        .slice(-1)[0]
        .replace(/_/g, " ")
        .replace(/%20/g, " ")
        .split(" ")
        .map((s) => s.charAt(0).toUpperCase() + s.substring(1))
        .join(" ");
</script>

<svelte:head>
  <title>
    {pageName ? `${pageName} • ` : ""} Data Visualization • VDA Lab • UHasselt
  </title>
</svelte:head>
